{% extends "parts/commonPart.html" %}
{% block head_title %}Изменить тип продукта{% endblock %}
{% block content %}
    <div class="container">

        {% if status %}
            <div class="alert alert-{{ status }}" role="alert">
            {{ response_message }}
            </div>
        {% endif %}

        <h3 class="mb-4">Изменить тип еды</h3>

        <form method="POST"> {% csrf_token %}
            <div class="mb-3">
                <label for="food-type-detail" class="form-label">Тип еды</label>
                <input type="text" class="form-control" id="food-type-detail"
                       placeholder="{{ instance }}" name="title" required>
            </div>
            <button class="btn btn-success" type="submit">Изменить</button>
            <a class="btn btn-secondary" href="/menu/food-type/">К списку</a>
        </form>


    </div>
{% endblock %}